body {
}

.item-sample {
    margin-bottom: 10px;  overflow: hidden; 
    width: 85%; margin-left: 10%;
}

    .item-sample .item-date {
         color: #FFA500;margin-right:2.5em; margin-left:0.5em
    }
    
.header-template {
        color: #888;
        font-size: 1.5em;
        margin-left: 5%;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: solid 2px #888;
        width: 80%
}


.item-details {
    height:100%; width:100%; overflow-y: auto; -ms-grid-column: 2;  margin-top: 1em; text-align: justify;
}

    .item-details .item-title {
        width: 90%;
        font-size: 2.5em;
        color: #191960
    }

    .item-details .item-content {
        width: 90%;
        margin-bottom: 100px;
    }

    .item-details .item-content strong, .item-details .item-content em{
        color: #191960
    }


.items-list {
    height:100%; margin-top: 1em; width:100%; -ms-grid-column: 1; 
}
